/.vs
/bin
/debug/dept_est/*.yuv
/debug/lightfield/*.jpeg
/debug/hevc/*
/debug/tango/*.txt
/debug/tango/*.yuv
/debug/tango/*.wav
/debug/tango/*.mjpeg
/debug/*.yuv
/debug/*.rgb
/debug/*.bayer
/debug/*.bmp
/debug/*.jpg
/debug/*.jpeg
/debug/*.mjpeg
/debug/*.bin
/debug/*.264
/debug/*.265
/debug/*.mpg
/debug/*.ts
/debug/*.mp2
/debug/*.ogg
/debug/*.webm
/debug/*.wav
/debug/*.aac
/debug/*.flac
/debug/*.txt
/debug/*.exe
/debug/*.bat
/scripts/*.txt
/tmp
/AVlib.sdf
/AVlib.VC.db
/AVlib.VC.VC.opendb

